<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
        <meta name="description" content="FasTrans - Logistics & Delivery Company HTML template" />
        <meta
            name="keywords"
            content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, page builder, shipment, transport, transportation, truck, trucking"
        />
        <meta name="author" content="Themexriver" />
        <link rel="shortcut icon" href="/img/logo/ficon.png" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/fontawesome-all.css" />
        <link rel="stylesheet" href="/css/flaticon.css" />
        <link rel="stylesheet" href="/css/animate.css" />
        <link rel="stylesheet" href="/css/nice-select.css" />
        <link rel="stylesheet" href="/css/video.min.css" />
        <link rel="stylesheet" href="/css/animated-slider.css" />
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" href="/css/slick.css" />
        <link rel="stylesheet" href="/css/rs6.css" />
        <link rel="stylesheet" href="/css/slick-theme.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section
	============================================= -->
        <%- include('partials/header') %>
        <!-- End of header section
	============================================= -->

        <!-- Start of Breadcrumb section
	============================================= -->
        <%- include("partials/breadcrumb", { pageTitle: "About" }) %>
        <!-- End of Breadcrumb section
	============================================= -->

        <!-- Start of About section
	============================================= -->
        <%- include("partials/about") %>
        <!-- End of About section
	============================================= -->

        <!-- Start of funfact section
	============================================= -->
        <section id="ft-funfact" class="ft-funfact-section">
            <div class="container">
                <div class="ft-funfact-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-funfact-innerbox text-center">
                                <div class="ft-funfact-icon">
                                    <i class="fal fa-clipboard-list-check"></i>
                                </div>
                                <div class="ft-funfact-text headline pera-content">
                                    <h3><span class="counter">4500</span></h3>
                                    <p>Projects Completed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-funfact-innerbox text-center">
                                <div class="ft-funfact-icon">
                                    <i class="fal fa-users"></i>
                                </div>
                                <div class="ft-funfact-text headline pera-content">
                                    <h3><span class="counter">54</span>+</h3>
                                    <p>Active Members</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-funfact-innerbox text-center">
                                <div class="ft-funfact-icon">
                                    <i class="fas fa-trophy-alt"></i>
                                </div>
                                <div class="ft-funfact-text headline pera-content">
                                    <h3><span class="counter">14</span>+</h3>
                                    <p>Award Winning</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-funfact-innerbox text-center">
                                <div class="ft-funfact-icon">
                                    <i class="fal fa-medal"></i>
                                </div>
                                <div class="ft-funfact-text headline pera-content">
                                    <h3><span class="counter">100</span>%</h3>
                                    <p>Satisfaction Rate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of funfact section
	============================================= -->

        <!-- Start of goodness feature section
	============================================= -->
        <section id="ft-goodness-feature" class="ft-goodness-feature-section">
            <div class="container">
                <div class="ft-section-title-2 headline pera-content text-center">
                    <span class="sub-title">Our Goodness</span>
                    <h2>What Make Us Special</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="ft-goodness-featured-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="ft-goodness-featured-innerbox text-center">
                                <div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
                                    <i class="fal fa-anchor"></i>
                                </div>
                                <div class="ft-goodness-featured-text headline pera-content">
                                    <h3>Trusted Franchise</h3>
                                    <p>
                                        Dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                        viverra maecenas accumsan vel facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="ft-goodness-featured-innerbox text-center">
                                <div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
                                    <i class="fal fa-user-headset"></i>
                                </div>
                                <div class="ft-goodness-featured-text headline pera-content">
                                    <h3>Customer Support</h3>
                                    <p>
                                        Dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                        viverra maecenas accumsan vel facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="ft-goodness-featured-innerbox text-center">
                                <div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
                                    <i class="fal fa-badge-sheriff"></i>
                                </div>
                                <div class="ft-goodness-featured-text headline pera-content">
                                    <h3>Reliability & Punctuality</h3>
                                    <p>
                                        Dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                        viverra maecenas accumsan vel facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of goodness feature section
	============================================= -->

        <!-- Start of Video section
	============================================= -->
        <section id="ft-video" class="ft-video-section">
            <div class="container">
                <div class="ft-video-content position-relative">
                    <div class="ft-video-img-play-btn">
                        <div class="ft-video-img">
                            <img src="/img/bg/v-bg.jpg" alt="" />
                        </div>
                        <div class="ft-video-play">
                            <a
                                class="d-flex justify-content-center align-items-center position-relative video_box"
                                href="https://www.youtube.com/watch?v=C4jjFanHZo8"
                            >
                                <i class="fas fa-play"></i>
                                <span class="video_btn_border border_wrap-1"></span>
                                <span class="video_btn_border border_wrap-2"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Video section
	============================================= -->

        <!-- Start of Testimonial section
	============================================= -->
        <%- include("partials/testimonial") %>
        <!-- End of Testimonial section
	============================================= -->

        <!-- Start of footer section
	============================================= -->
        <%- include('partials/footer') %>
        <!-- End of footer section
	============================================= -->

        <!-- For Js Library -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/slick.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <script src="/js/jquery.filterizr.js"></script>
        <script src="/js/rbtools.min.js"></script>
        <script src="/js/jquery.cssslider.min.js"></script>
        <script src="/js/rs6.min.js"></script>
        <script src="/js/knob.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/gmaps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
    </body>
</html>
