<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section ======================================= -->
        <%- include("partials/header") %>
        <!-- End of header section ========================================= -->

        <!-- Start of Breadcrumb section =================================== -->
        <%- include("partials/breadcrumb", { pageTitle: "Contact" }) %>
        <!-- End of Breadcrumb section ===================================== -->

        <!-- Start of Contact page section ================================= -->
        <section id="ft-contact-page" class="ft-contact-page-section page-padding">
            <div class="container">
                <div class="ft-contact-page-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ft-contact-page-text-wrapper">
                                <div class="ft-section-title-2 headline pera-content">
                                    <span class="sub-title">Get a Quote</span>
                                    <h2>Get in Touch And We’ll Help Your Business</h2>
                                </div>
                                <div class="ft-contact-page-contact-info">
                                    <div class="ft-contact-cta-items d-flex">
                                        <div
                                            class="ft-contact-cta-icon d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="ft-contact-cta-text headline pera-content">
                                            <h3>Office address</h3>
                                            <p>
                                                JI. Pulo Rimbung Blok RRG 8 No. 17, Jakasetia Subdistrict, South Bekasi
                                                District, Bekasi City, West Java, Indonesia
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ft-contact-cta-items d-flex">
                                        <div
                                            class="ft-contact-cta-icon d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="ft-contact-cta-text headline pera-content">
                                            <h3>Telephone number</h3>
                                            <p>021 06282085</p>
                                        </div>
                                    </div>
                                    <div class="ft-contact-cta-items d-flex">
                                        <div
                                            class="ft-contact-cta-icon d-flex align-items-center justify-content-center"
                                        >
                                            <i class="far fa-envelope"></i>
                                        </div>
                                        <div class="ft-contact-cta-text headline pera-content">
                                            <h3>Mail address</h3>
                                            <p>support@agatakargoutama.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ft-contact-page-form-wrapper headline">
                                <h3 class="text-center">Get a Quote</h3>
                                <form action="contact.php">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" name="name" placeholder="Your Name" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="email" name="email" placeholder="Your Email" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="affi" placeholder="Affiliation" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="number" placeholder="Number" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="department" placeholder="Inquiry Department" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="date" placeholder="Date" />
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea name="message" placeholder="Your Message"></textarea>
                                        </div>
                                        <div class="col-lg-12">
                                            <button>Book An Appointmet</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Contact page section =================================== -->

        <!-- Start of footer section ======================================= -->
        <%- include("partials/footer") %>
        <!-- End of footer section ========================================= -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
