<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section ======================================= -->
        <%- include("partials/header") %>
        <!-- End of header section ========================================= -->

        <!-- Start of Breadcrumb section =================================== -->
        <%- include("partials/breadcrumb", { pageTitle: "Pricing Plan" }) %>
        <!-- End of Breadcrumb section ===================================== -->

        <!-- Start of Pricing page section ================================= -->
        <section id="ft-pricing-plan" class="ft-pricing-plan-section page-padding">
            <div class="container">
                <div class="ft-section-title headline pera-content text-center">
                    <span class="sub-title">Pricing Table</span>
                    <h2>Our Effective and Affordable Pricing Plans</h2>
                </div>
                <div class="ft-pricing-plan-content">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="ft-pricing-plan-items headline ul-li-block text-center position-relative">
                                <span class="pricing-shape1 position-absolute"
                                    ><img src="/img/shape/p-sh1.png" alt=""
                                /></span>
                                <span class="pricing-shape2 position-absolute"
                                    ><img src="/img/shape/p-sh2.png" alt=""
                                /></span>
                                <div class="ft-pricing-plan-head">
                                    <h3>Basic Plan</h3>
                                </div>
                                <div class="ft-pricing-plan-value">
                                    <h4>$150.00</h4>
                                    <span>Per Month</span>
                                </div>
                                <div class="ft-pricing-plan-list clearfix">
                                    <ul>
                                        <li>1 Warehouse</li>
                                        <li>Custom Business Rules</li>
                                        <li>Real Time Rate Shopping</li>
                                        <li>100% Insurance</li>
                                        <li>50 Freight Shipments</li>
                                        <li>Custom Business Rules</li>
                                        <li>Real Time Rate Shopping</li>
                                    </ul>
                                </div>
                                <div class="ft-btn-2">
                                    <a href="#">
                                        <i class="icon-first flaticon-right-arrow"></i>
                                        <span>Try It Now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="ft-pricing-plan-items headline ul-li-block text-center position-relative">
                                <span class="pricing-shape1 position-absolute"
                                    ><img src="/img/shape/p-sh1.png" alt=""
                                /></span>
                                <span class="pricing-shape2 position-absolute"
                                    ><img src="/img/shape/p-sh2.png" alt=""
                                /></span>
                                <div class="ft-pricing-plan-head">
                                    <h3>Popular Plan</h3>
                                </div>
                                <div class="ft-pricing-plan-value">
                                    <h4>$150.00</h4>
                                    <span>Per Month</span>
                                </div>
                                <div class="ft-pricing-plan-list clearfix">
                                    <ul>
                                        <li>1 Warehouse</li>
                                        <li>Custom Business Rules</li>
                                        <li>Real Time Rate Shopping</li>
                                        <li>100% Insurance</li>
                                        <li>50 Freight Shipments</li>
                                        <li>Custom Business Rules</li>
                                        <li>Real Time Rate Shopping</li>
                                    </ul>
                                </div>
                                <div class="ft-btn-2">
                                    <a href="#">
                                        <i class="icon-first flaticon-right-arrow"></i>
                                        <span>Try It Now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="ft-pricing-plan-items headline ul-li-block text-center position-relative">
                                <span class="pricing-shape1 position-absolute"
                                    ><img src="/img/shape/p-sh1.png" alt=""
                                /></span>
                                <span class="pricing-shape2 position-absolute"
                                    ><img src="/img/shape/p-sh2.png" alt=""
                                /></span>
                                <div class="ft-pricing-plan-head">
                                    <h3>Premium Plan</h3>
                                </div>
                                <div class="ft-pricing-plan-value">
                                    <h4>$150.00</h4>
                                    <span>Per Month</span>
                                </div>
                                <div class="ft-pricing-plan-list clearfix">
                                    <ul>
                                        <li>1 Warehouse</li>
                                        <li>Custom Business Rules</li>
                                        <li>Real Time Rate Shopping</li>
                                        <li>100% Insurance</li>
                                        <li>50 Freight Shipments</li>
                                        <li>Custom Business Rules</li>
                                        <li>Real Time Rate Shopping</li>
                                    </ul>
                                </div>
                                <div class="ft-btn-2">
                                    <a href="#">
                                        <i class="icon-first flaticon-right-arrow"></i>
                                        <span>Try It Now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Pricing page section =================================== -->

        <!-- Start of footer section ======================================= -->
        <%- include("partials/footer") %>
        <!-- End of footer section ========================================= -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
