<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section ======================================= -->
        <%- include("partials/header") %>
        <!-- End of header section ========================================= -->

        <!-- Start of Breadcrumb section =================================== -->
        <%- include("partials/breadcrumb", { pageTitle: "Project" }) %>
        <!-- End of Breadcrumb section ===================================== -->

        <!-- Start of Project section ====================================== -->
        <section id="ft-project-page" class="ft-project-page-section page-padding">
            <div class="container">
                <div class="ft-section-title-2 headline pera-content text-center">
                    <span class="sub-title">Project</span>
                    <h2>Let’s Check Our All Latest Project</h2>
                </div>
                <div class="ft-project-post-item-content">
                    <div class="ft-project-item-filter-btn ul-li">
                        <ul id="filters" class="nav-gallery text-center">
                            <li class="filtr-button filtr-active" data-filter="all">All</li>
                            <li class="filtr-button" data-filter="1">Road Freight</li>
                            <li class="filtr-button" data-filter="2">Ocean Freight</li>
                            <li class="filtr-button" data-filter="3">Air Freight</li>
                        </ul>
                    </div>
                    <div class="ft-project-item-wrapper filtr-container row">
                        <% projects.forEach((project, index) => { %>
                        <div class="col-lg-4 col-sm-6 filtr-item" data-category="<%= project.category %>" data-sort="Busy streets">
                            <div class="ft-portfolio-slider-innerbox position-relative">
                                <div class="ft-portfolio-img">
                                    <img src="<%= project.image %>" alt="" />
                                </div>
                                <div class="ft-portfolio-text headline headline pera-content">
                                    <h3><a href="/project-details"><%= project.name %></a></h3>
                                    <p>
                                        <%= project.description %>
                                    </p>
                                    <div class="ft-btn-3">
                                        <a
                                            class="d-flex justify-content-center align-items-center"
                                            href="/project/<%= project.slug %>"
                                            >Read More <i class="flaticon-right-arrow"></i
                                        ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <div class="ft-btn text-center">
                        <a class="d-flex justify-content-center align-items-center" href="#">Load More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Project section ======================================== -->

        <!-- Start of footer section ======================================= -->
        <%- include("partials/footer") %>
        <!-- End of footer section ========================================= -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
