<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section
	============================================= -->
        <%- include("partials/header") %>
        <!-- End of header section
	============================================= -->

        <!-- Start of Breadcrumb section
	============================================= -->
        <%- include("partials/breadcrumb", { pageTitle: "Services" }) %>
        <!-- End of Breadcrumb section
	============================================= -->

        <!-- Start of Service page section
	============================================= -->
        <section id="ft-service-page" class="ft-service-page-section page-padding">
            <div class="container">
                <div class="ft-section-title-2 headline pera-content text-center">
                    <span class="sub-title">Featured</span>
                    <h2>We are optimists who love to <span>work together</span>.</h2>
                </div>
                <div class="ft-service-page-items">
                    <div class="row">
                        <% services.forEach((service, index) => { %>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-service-innerbox-2 position-relative">
                                <div class="ft-service-img text-center">
                                    <img src="<%= service.image %>" alt="" />
                                </div>
                                <div class="ft-service-text position-relative headline">
                                    <div
                                        class="ft-service-icon position-absolute d-flex align-items-center justify-content-center"
                                    >
                                        <i class="<%= service.icon %>"></i>
                                    </div>
                                    <h3><a href="#"><%= service.name %></a></h3>
                                    <div class="ft-btn-2">
                                        <a href="/service/<%= service.slug %>">
                                            <i class="icon-first flaticon-right-arrow"></i>
                                            <span>Read More</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="ft-service-serial position-absolute"><%= index + 1 %></div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <!-- Pagination -->
                    <div class="ft-pagination-item text-center ul-li">
                        <ul>
                            <% if (currentPage > 1) { %>
                            <li><a href="/service?page=<%= currentPage - 1 %>">&laquo;</a></li>
                            <% } %>

                            <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="<%= i === currentPage ? 'active' : '' %>">
                                <a href="/service?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } %>

                            <% if (currentPage < totalPages) { %>
                            <li><a href="/service?page=<%= currentPage + 1 %>">&raquo;</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Service page section
	============================================= -->

        <!-- Start of Project section
	============================================= -->
        <%- include("partials/project") %>
        <!-- End of Project section
	============================================= -->

        <!-- Start of FAQ section
	============================================= -->
        <%- include("partials/faq") %>
        <!-- End of FAQ section
	============================================= -->

        <!-- Start of footer section
	============================================= -->
        <%- include("partials/footer") %>
        <!-- End of footer section
	============================================= -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
