<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section
	============================================= -->
        <%- include("partials/header") %>
        <!-- End of header section
	============================================= -->

        <!-- Start of Breadcrumb section
	============================================= -->
        <%- include("partials/breadcrumb", { pageTitle: pageTitle, parentPage: parentPage }) %>
        <!-- End of Breadcrumb section
	============================================= -->

        <!-- Start of Service details section
	============================================= -->
        <section id="ft-service-details" class="ft-service-details-section page-padding">
            <div class="container">
                <div class="ft-service-details-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ft-service-sidebar">
                                <div class="ft-service-sidebar-widget headline ul-li-block">
                                    <div class="service-category-widget">
                                        <h3 class="widget-title">All Service</h3>
                                        <ul>
                                            <% services.forEach((service, index) => { %>
                                            <li><a href="/service/<%= service.slug %>" aria-label="<%= service.name %> service"><%= service.name %></a></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ft-service-sidebar-widget headline ul-li-block">
                                    <div class="service-form-widget">
                                        <h3 class="widget-title text-uppercase">24/7 ONLINE SUPPORT</h3>
                                        <p>Get immediate quotes & book shipment.</p>
                                        <form action="#">
                                            <input type="text" placeholder="Name" />
                                            <input type="email" placeholder="Email" />
                                            <textarea name="#" placeholder="Your Question Here"></textarea>
                                            <button>Contact Now</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="ft-service-sidebar-widget headline ul-li-block">
                                    <div class="service-download-widget">
                                        <h3 class="widget-title">Download Now</h3>
                                        <ul>
                                            <li>
                                                <a href="#">Company Report 2020 <i class="far fa-file-pdf"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">Company Report 2021 <i class="far fa-file-pdf"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="ft-service-details-content-wrapper headline pera-content">
                                <div class="ft-service-details-img-wrapper">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ft-service-details-img">
                                                <img src="<%= service.detailsImages.image1 %>" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ft-service-details-img">
                                                <img src="<%= service.detailsImages.image2 %>" alt="" />
                                            </div>
                                            <div class="ft-service-details-img">
                                                <img src="<%= service.detailsImages.image3 %>" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ft-service-details-text-wrapper">
                                    <h3>Overview</h3>
                                    <% if (service.overview.p1 || service.overview.p2 || service.overview.p3) { %>
                                    <% if (service.overview.p1) { %>
                                    <p><%= service.overview.p1 %></p>
                                    <% } %>
                                    <% if (service.overview.p2) { %>
                                    <p><%= service.overview.p2 %></p>
                                    <% } %>
                                    <% if (service.overview.p3) { %>
                                    <p><%= service.overview.p3 %></p>
                                    <% } %>
                                    <% } else { %>
                                    <p>No overview available for this service at the moment.</p>
                                    <% } %>
                                    <div class="ft-service-details-counter-wrapper">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div
                                                    class="ft-service-details-counter-item d-flex align-items-center headline pera-content"
                                                >
                                                    <div class="ft-service-details-count-icon">
                                                        <i class="flaticon-worldwide"></i>
                                                    </div>
                                                    <div class="ft-service-details-count-text">
                                                        <h4 class="title text-uppercase">WE COVERED</h4>
                                                        <h4 class="count-number"><span class="counter">158</span>+</h4>
                                                        <p>International gateways</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div
                                                    class="ft-service-details-counter-item d-flex align-items-center headline pera-content"
                                                >
                                                    <div class="ft-service-details-count-icon">
                                                        <i class="flaticon-logistics"></i>
                                                    </div>
                                                    <div class="ft-service-details-count-text">
                                                        <h4 class="title text-uppercase">WE HANDLED</h4>
                                                        <h4 class="count-number">
                                                            <span class="counter">24000</span>+
                                                        </h4>
                                                        <p>Tons of air freight annually</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>How It Works</h3>
                                    <p>
                                        At AGATA KARGO UTAMA, we simplify the shipping process with efficient, secure,
                                        and timely logistics solutions. Our step-by-step approach ensures that every
                                        shipment is handled with care and precision, from booking to final delivery.
                                    </p>
                                    <div class="ft-video-content position-relative">
                                        <div class="ft-video-img-play-btn">
                                            <div class="ft-video-img">
                                                <img src="/img/bg/v-bg.jpg" alt="" />
                                            </div>
                                            <div class="ft-video-play">
                                                <a
                                                    class="d-flex justify-content-center align-items-center position-relative video_box"
                                                    href="https://www.youtube.com/watch?v=C4jjFanHZo8"
                                                >
                                                    <i class="fas fa-play"></i>
                                                    <span class="video_btn_border border_wrap-1"></span>
                                                    <span class="video_btn_border border_wrap-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Service details section
	============================================= -->

        <!-- Start of footer section
	============================================= -->
        <%- include("partials/footer") %>
        <!-- End of footer section
	============================================= -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
