<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
        <meta name="description" content="FasTrans - Logistics & Delivery Company HTML template" />
        <meta
            name="keywords"
            content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, page builder, shipment, transport, transportation, truck, trucking"
        />
        <meta name="author" content="Themexriver" />
        <link rel="shortcut icon" href="/img/logo/ficon.png" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/fontawesome-all.css" />
        <link rel="stylesheet" href="/css/flaticon.css" />
        <link rel="stylesheet" href="/css/animate.css" />
        <link rel="stylesheet" href="/css/nice-select.css" />
        <link rel="stylesheet" href="/css/video.min.css" />
        <link rel="stylesheet" href="/css/animated-slider.css" />
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" href="/css/slick.css" />
        <link rel="stylesheet" href="/css/rs6.css" />
        <link rel="stylesheet" href="/css/slick-theme.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section
	============================================= -->
        <%- include('partials/header') %>
        <!-- End of header section
	============================================= -->

        <!-- Start of Breadcrumb section
	============================================= -->
        <%- include("partials/breadcrumb", { pageTitle: "Services" }) %>
        <!-- End of Breadcrumb section
	============================================= -->

        <!-- Start of Service page section
	============================================= -->
        <section id="ft-service-page" class="ft-service-page-section page-padding">
            <div class="container">
                <div class="ft-section-title-2 headline pera-content text-center">
                    <span class="sub-title">Featured</span>
                    <h2>We are optimists who love to <span>work together</span>.</h2>
                </div>
                <div class="ft-service-page-items">
                    <div class="row">
                        <% services.forEach((service, index) => { %>
                            <div class="col-lg-3 col-md-6">
                                <div class="ft-service-innerbox-2 position-relative">
                                    <div class="ft-service-img text-center">
                                        <img src="<%= service.image %>" alt="" />
                                    </div>
                                    <div class="ft-service-text position-relative headline">
                                        <div class="ft-service-icon position-absolute d-flex align-items-center justify-content-center">
                                            <i class="<%= service.icon %>"></i>
                                        </div>
                                        <h3><a href="#"><%= service.name %></a></h3>
                                        <div class="ft-btn-2">
                                            <a href="/service/<%= service.slug %>">
                                                <i class="icon-first flaticon-right-arrow"></i>
                                                <span>Read More</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ft-service-serial position-absolute"><%= index + 1 %></div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <div class="ft-pagination-item text-center ul-li">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Service page section
	============================================= -->

        <!-- Start of Project section
	============================================= -->
        <%- include("partials/project") %>
        <!-- End of Project section
	============================================= -->

        <!-- Start of FAQ section
	============================================= -->
        <%- include("partials/faq") %>
        <!-- End of FAQ section
	============================================= -->

        <!-- Start of footer section
	============================================= -->
        <%- include('partials/footer') %>
        <!-- End of footer section
	============================================= -->

        <!-- For Js Library -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/slick.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/rbtools.min.js"></script>
        <script src="/js/jquery.cssslider.min.js"></script>
        <script src="/js/rs6.min.js"></script>
        <script src="/js/knob.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/gmaps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
    </body>
</html>
