<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <div id="preloader"></div>
        <div class="up">
            <a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
        </div>
        <!-- Start of header section ======================================= -->
        <%- include("partials/header") %>
        <!-- End of header section ========================================= -->

        <!-- Start of Breadcrumb section =================================== -->
        <%- include("partials/breadcrumb", { pageTitle: "Team" }) %>
        <!-- End of Breadcrumb section ===================================== -->

        <!-- Start of Team page section ==================================== -->
        <section id="ft-team-page" class="ft-team-page-section page-padding">
            <div class="container">
                <div class="ft-team-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm3.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm1.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm2.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm3.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm4.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm5.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm6.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ft-team-inner-itembox position-relative">
                                <span class="hover-shape position-absolute"
                                    ><img src="/img/shape/tm-sh2.png" alt=""
                                /></span>
                                <div class="ft-team-inner-item-img">
                                    <img src="/img/team/tm7.jpg" alt="" />
                                </div>
                                <div class="ft-team-inner-item-text headline">
                                    <h3><a href="/team-details">John Doe</a></h3>
                                    <span>Shipping Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ft-pagination-item text-center ul-li">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Team page section ====================================== -->

        <!-- Start of footer section ======================================= -->
        <%- include("partials/footer") %>
        <!-- End of footer section ========================================= -->

        <!-- For JS libraries -->
        <%- include("partials/js-libraries") %>
    </body>
</html>
